body{
    font-family: 'PT Serif', serif;
}
.bg-ozel{
    background-color:#C4E2FF;
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(41,41,41, 1)
}
.aside-buttons > li {
    margin-bottom: 10px;
}